* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.people {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

.person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-left: 10px;
    margin-top: 30px;
    padding: 10px;
    border-width: 1px;


}

.person:hover {
    background: #EEEEEE;
    border-radius: 10px;
    transition-duration: 1s;
    transform: scale(1.2);}

.person:hover img {
    border-radius: 30%;
}

.person:hover .extra {
    visibility: visible;
    font-size: 21.6px;
    line-height: 25px;
    text-align: center;
    margin-top: 10px;
    color: #000000;
}

.person:hover .name {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #2F4F4F;
}


.photo img{
    border-radius: 50%;
    display: block;
    width: 100%;
    height: auto;
    }

.photo {
    display: flex;
    justify-content: center;
    }

.rank {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 84px 0 0 74px;
    width:32px;
    height: 32px;
    color: red;
    background: white;
    font-size: 16px;
    line-height: 18px;
    border-radius: 50%;
}

.details {
    justify-content: center;
    margin-top: 8px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #2F4F4F;
}


.extra {
    visibility: hidden;
}


@media all and (min-width: 1500px) {
    .people {
        margin-left: 285px;
        margin-right: 285px;
        justify-content: flex-start;
    }
}

@media all and (max-width: 1499px) and (min-width: 1000px) {
    .people {
        margin-left: 35px;
        margin-right: 35px;
        justify-content: flex-start;
    }
}

@media all and (max-width: 999px) and (min-width: 750px) {
    .people {
        margin-left: 140px;
        margin-right: 140px;
        justify-content: center;
    }
}

@media all and (max-width: 749px) and (min-width: 450px) {
    .people {
        margin-left: 15px;
        margin-right: 15px;
        justify-content: center;
    }
}

